<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Edição de Conta</title>
</head>
<body>
<div class="container-fluid">
    <main>
        <div class="row">
            <div class="col-12">
                <h1>Atualização de informações da conta</h1>
                <form>
                    <div class="form-group col-12">
                        <label for="editName">Nome</label>
                        <input value="" type="text" class="form-control" id="editName" placeholder="Insira seu novo nome">
                    </div>
                    <div class="form-group col-12">
                        <label for="editEmail">Email</label>
                        <input value="" type="email" class="form-control" id="editEmail" aria-describedby="emailHelp" placeholder="Insira seu novo">
                        <small id="emailHelp" class="form-text text-muted">Exemplo: email@exemplo.com</small>
                    </div>
                    <div class="form-group col-12">
                        <label for="editPassword">Nova Senha</label>
                        <input value="" type="password" class="form-control" id="editPassword" placeholder="Insira sua nova senha">
                    </div>
                    <button type="submit" class="btn btn-primary" id="editProfileBtn">Atualizar informações</button>
                </form>
            </div>
        </div>
    </main>
</div>
</body>
<script>
    const mysql = require('mysql');

    var successEdit = false;

    console.log("Entrou no insereDados()");

    var connection = mysql.createConnection({
        host: "localhost",
        port: 3306,
        user: "root",
        password: "",
        database: "rpgplus"
    });

    console.log("Criou a conexão");

    connection.connect(function(err) {
        if(err){
            console.log(err.stack);
            console.log("Não conectou");
            return console.log(err.stack);
        }

        console.log("Conectou");
    });

    // Queries
    $selectQuery = 'SELECT * FROM user WHERE email LIKE "'+localStorage.getItem('email')+'"';

    connection.query($selectQuery, function(err, rows, fields) {

        if(err){
            return console.log("An error ocurred with the query", err);
        }
        document.getElementById('editName').setAttribute('value', rows[0].name);
        document.getElementById('editEmail').value = rows[0].email;
        document.getElementById('editPassword').value = rows[0].password;
        console.log(rows);
        console.log('Inserted ' + rows.affectedRows + ' rows');
        console.log("Entrei na query");
        successEdit = true;
        console.log("Executou a Query");
    });

    connection.end(function() {
        console.log("Connection succesfully closed");
        if (successEdit){
        }
    });

    var editProfileBtn = document.getElementById('editProfileBtn');
    if(editProfileBtn){

        editProfileBtn.addEventListener("click", function() {

            var nameEdit = document.getElementById('editName').value;
            var emailEdit = document.getElementById('editEmail').value;
            var passwordEdit = document.getElementById('editPassword').value;

            var mysql = require("mysql");

            var successEdit = false;

            console.log("Modificou as variáveis de nome, email e senha");

            var connection = mysql.createConnection({
                host: "localhost",
                port: 3306,
                user: "root",
                password: "",
                database: "rpgplus"
            });

            console.log("Criou a conexão");

            connection.connect(function(err) {
                if(err){
                    console.log(err.stack);
                    console.log("Não conectou");
                    return console.log(err.stack);
                }

                console.log("Conectou");
            });

            // Queries
            $editQuery = 'UPDATE user SET name = "'+nameEdit+'", password = "'+passwordEdit+'", email = "'+emailEdit+'" WHERE email = "'+localStorage.getItem('email')+'"';

            connection.query($editQuery, function(err, rows, fields) {

                if(err){
                    return console.log("An error ocurred with the query", err);
                }
                console.log(rows);
                console.log('Inserted ' + rows.affectedRows + ' rows');
                console.log("Entrei na query");
                localStorage.clear();
                localStorage.setItem('email', emailEdit);
                successEdit = true;
                console.log("Executou a Query");
            });

            connection.end(function() {
                console.log("Connection succesfully closed");
                if (successEdit) {

                    window.location.href = "homeView.html"
                }
            });

        }, false);
    }
</script>
</html>