<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<p>ALOOOOOU</p>
<div class="container-fluid">
    <main>
        <div class="row">
            <!-- Lista de Fichas de personagem -->
            <div class="col-3">
                <div id="charList">

                </div>
                <button class="btn btn-primary" id="createCharacter">Criar Personagem</button>
            </div>
            <!-- Detalhes da Ficha de personagem selecionada  -->
            <div class="row col-9">
                <div id="charDetails" class="col-12">
                </div>
                <div class="row col-12">
                    <button style="margin-top: 8px;" class="col-4" id="addChar">Adicionar Ficha</button>
                    <button style="margin-top: 8px;" class="col-4" id="editChar">Salvar Mudanças</button>
                    <button style="margin-top: 8px;" class="col-4" id="delChar">Remover Ficha</button>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
<script>
    document.getElementById('createCharacter').addEventListener('click', function() {
        require('../public/formCreate');
    }, false);

    document.getElementById('addChar').addEventListener('click', function() {
        require('../public/charAdd');
    }, false);
    document.getElementById('addChar').style.display = "none";

    document.getElementById('editChar').addEventListener('click', function() {
        require('../public/charEdit');
    }, false);
    document.getElementById('editChar').style.display = "none";

    document.getElementById('delChar').addEventListener('click', function() {
        require('../public/charDel');
    }, false);
    document.getElementById('delChar').style.visibility = "hidden";
</script>
</html>