<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="container-fluid">
    <main>
        <div class="row">
            <!-- Lista de Fichas de personagem -->
            <div class="col-2">
                <div id="btn-group" data-toggle="buttons" style="margin-top: 10px">
                </div>
                <button class="btn btn-primary col-2" style="position: fixed; bottom: 10px" id="createCharacter">Criar Personagem</button>
            </div>
            <!-- Detalhes da Ficha de personagem selecionada  -->
            <div class="row col-10">
                <div id="charDetails" class="col-12">
                </div>
                <div class="row col-12">
                    <button style="margin: 8px;" class="btn btn-primary col-3" id="addChar">Adicionar Ficha</button>
                    <button style="margin: 8px;" class="btn btn-primary col-3" id="editChar">Salvar Mudanças</button>
                    <button style="margin: 8px;" class="btn btn-primary col-3" id="delChar">Remover Ficha</button>
                </div>
            </div>
        </div>
    </main>
</div>
</body>

<script id="xXxMostroMesmoTudoxXx:P">
    var btnGroup = document.getElementById('btn-group');
    if(btnGroup) {
        const mysql = require('mysql');

        var connection = mysql.createConnection({
            host: "localhost",
            port: 3306,
            user: "root",
            password: "",
            database: "rpgplus"
        });

        console.log("Criou a conexão");

        connection.connect(function (err) {
            if (err) {
                console.log(err.stack);
                console.log("Não conectou");
                return console.log(err.stack);
            }

            console.log("Conectou");
        });

        // Queries
        $searchQuery = 'SELECT A.* FROM (SELECT characters.*, class.idclass FROM characters INNER JOIN class on characters.id=class.character_id) AS A WHERE user_iduser=(SELECT iduser FROM user WHERE email="' + localStorage.getItem('email') + '") OR user_iduser = 0;';

        connection.query($searchQuery, function (err, rows, fields) {

            var json = require("../JSONdb/classes");
            if (err) {
                return console.log("An error ocurred with the query", err);
            }
            console.log(rows);
            for (var i in rows) {
                document.getElementById('btn-group').innerHTML +=
                    '<button id="charCard' + i + '" type="radio" class="btn btn-outline-secondary btn-sm btn-block">' +
                    '<p style="font-size: medium">'+rows[i].name+'</p>' +
                    '<p style="font-size: medium">'+rows[i].race+'</p>' +
                    '<p style="font-size: medium">'+json[rows[i].idclass - 1].name +'</p>' +
                    '</button>';
                document.getElementById('charCard' + i).addEventListener('click', function () {
                    localStorage.setItem("charId", rows[i].id);
                    require("../public/charShow");
                }, false);
            }
            console.log("Executou a Query");

        });


        connection.end(function () {
            console.log("Connection succesfully closed");
        });
    }
</script>
<script>
    document.getElementById('createCharacter').addEventListener('click', function() {
        require('../public/formCreate');
    }, false);

    document.getElementById('addChar').addEventListener('click', function() {
        require('../public/charAdd');
    }, false);
    document.getElementById('addChar').style.visibility = "hidden";

    document.getElementById('editChar').addEventListener('click', function() {
        require('../public/charEdit');
    }, false);
    document.getElementById('editChar').style.visibility = "hidden";

    document.getElementById('delChar').addEventListener('click', function() {
        require('../public/charDel');
    }, false);
    document.getElementById('delChar').style.visibility = "hidden";
</script>
</html>