<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>Pesquisa</title>
</head>
<body>
<div class="conteiner-fluid">
    <main style="margin: 10px">
        <div class="row">
            <div class="col-12">
                <p class="h1">Pesquisa</p>
                <div class="input-group">
                    <input type="text" class="form-control" id="search" placeholder="Insira o nome do jogador ou grupo que deseja encontrar">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="searchBtn" type="button">Ir!</button>
                    </span>
                </div>
                <div id="resultadoPesquisa">
                </div>
            </div>
        </div>
    </main>
</div>
<script src="../controller/searchController.js"></script>
</body>
</html>